<h1>{{title}}</h1>
<table class="excel-table">
  <tbody>
    <tr>
      <td>InvoiceNumber:</td>
      <td>{{invoiceNo}}</td>
    </tr>
    <tr>
      <td>Branch:</td>
      <td>{{branch}}</td>
    </tr>
    <tr>
      <td>City:</td>
      <td>{{city}}</td>
    </tr>
    <tr>
      <td>Customer:</td>
      <td>{{customer}}</td>
    </tr>
    <tr>
      <td>Product line:</td>
      <td>{{productLine}}</td>
    </tr>
    <tr>
      <td>name:</td>
      <td>{{name}}</td>
    </tr>
    <tr>
      <td>Image:</td>
      <td><img src="{{image}}" alt="Product Image" width="100"></td>
    </tr>
    <tr>
      <td>Unit price:</td>
      <td>{{unitPrice}}</td>
    </tr>
    <tr>
      <td>Quantity:</td>
      <td>{{quantity}}</td>
    </tr>
    <tr>
      <td>Tax 5%:</td>
      <td>{{tax}}</td>
    </tr>
    <tr>
      <td>Total:</td>
      <td>{{total}}</td>
    </tr>
    <tr>
      <td>Date:</td>
      <td>{{date}}</td>
    </tr>
    <tr>
      <td>Time:</td>
      <td>{{time}}</td>
    </tr>
    <tr>
      <td>Payment:</td>
      <td>{{payment}}</td>
    </tr>
    <tr>
      <td>cogs:</td>
      <td>{{cogs}}</td>
    </tr>
    <tr>
      <td>Rating:</td>
      <td>{{rating}}</td>
    </tr>
  </tbody>
</table>
